---
layout: appspage
---

<div id="rw-projects" class="container-fluid page-section">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="app-introduction">
        <p>In 2015, mobile visitors to ReliefWeb increased by 71%.</p>

        <p>To meet this growing demand, ReliefWeb is developing four mobile apps: RW Crises, RW Jobs, RW Videos and RW Headlines.</p>

        <p>The apps will soon be open for beta testing.</p>
      </div>

      <div class="app-contact">
        <form action="//reliefweb.us5.list-manage.com/subscribe/post?u=bbba5e49a58c86ed484b5a084&amp;id=5ffc9bac6d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <label for="mce-EMAIL">Sign up to help with beta-testing these apps.</label>
          <!--[if gte IE 7]><span class="placeholder"><em>Email Address:</em></span><![endif]-->
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bbba5e49a58c86ed484b5a084_5ffc9bac6d" tabindex="-1" value=""></div>
            <label for="mce-OS">Phone Type </label>
            <select name="OS" class="" id="mce-OS">
              <option value=""></option>
              <option value="Android">Android</option>
              <option value="iOS">iOS</option>
              <option value="Other">Other</option>
            </select>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>

        <p><strong>Note:</strong> Due to significant demand, we may not be able to respond to all submissions and requests. Thank you for understanding.</p>
      </div>

    </div>
  </div>
</div>

<div class="rw-divider"></div>
<div id="rw-projects" class="rw-projects container-fluid page-section">
  <div class="row">
    <div class="container col-xs-offset-1">
      <div class="row">
        <div class="project-page rw-project-list">
          {% for app in site.apps %}
          <div id="{{ app.id }}" class="rw-project-list-item app col-sm-6">
            {% if app.link %}
            <h3><a href="{{ app.link }}">{{ app.title }}</a></h3>
            {% else %}
            <h3>{{ app.title }}</h3>
            {% endif %}
            <p class="rw-status"><strong>Phase: {{ app.phase | upcase }}</strong></p>
            <div class="row">
              <div class="col-sm-6">
                {% if app.link %}
                <div class="rw-img-cell"><a href="{{ app.link }}"><img src="{{ app.logo }}" alt="" class="img-responsive"></a></div>
                {% else %}
                <div class="rw-img-cell"><img src="{{ app.logo }}" alt="" class="img-responsive"></div>
                {% endif %}
              </div>
              <div class="rw-app-description col-sm-6">
                {{ app.content }}
              </div>
            </div>
            <div class="row rw-app-stores">
              {% if app.play-url %}
              <div class="rw-stores col-sm-6">
                <a href="{{ app.play-url }}"><img src="img/apps/store-play.png" width="100px"/></a>
              </div>
              {% endif %}
              {% if app.itunes-url %}
              <div class="rw-stores col-sm-6">
                <a href="{{ app.itunes-url }}"><img src="img/apps/store-app.png" width="100px"/></a></p>
              </div>
              {% endif %}
            </div><!-- /rw-app-stores -->
          </div><!-- /rw-project-list-item -->
          {% endfor %}
        </div><!-- /.rw-project-list -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /row -->
</div><!-- /container -->
