<!--<iframe width="100%" height="400px" frameBorder="0" src="http://reliefweb.int/blog/labs/latest-post"></iframe>-->

<!-- Hardcoded until the iframe generation is deployed. -->
<a href="http://reliefweb.int/blog" target="_blank" class="blog-title-image pull-left"><img src="http://reliefweb.int/profiles/reliefweb/themes/kobe/images/blog-title.png" width="140" alt="Link to blog" /></a>
<div style="margin-top:100px">
<h4><a href="http://reliefweb.int/blogpost/2014-another-record-year-reliefweb" target="_blank">2014 - Another record year for ReliefWeb</a></h4>
<p style="font-size:14px">2014 was another record year for ReliefWeb, with over 4.96 million users accessing ReliefWeb more than 12 million times. </p>
<p style="font-size:14px">We added more than 54,000 reports and maps to ReliefWeb and covered...</p>
<a href="http://reliefweb.int/blog" target="_blank" class="blog-more-link">Visit the blog</a>
</div>
