<div id="challenges" class="challenges container page-section">
  <div class="row">
    <div class="col-md-12">
      <a href="#" class="button-link pull-right scroll-link back-to-top" data-id="rw-nav-global-sites">Back to top.</a>
      <h2>Challenges</h2>
    </div>
  </div>
  <div class="row">
    <div class="challenge-items col-sm-8">
      {% for post in site.challenges %}
      <div class="pull-left">
      ­ <a href="{{ post.link }}"><img src="{{ post.image }}" /></a>
      </div>
      <div class="body">
      ­ <a href="{{ post.link }}"><h4>{{ post.title }}</h4></a>
      </div>
      <div class="clearfix"></div>
      {% endfor %}
    </div><!-- /.challenge-items -->
    <div class="challenge-illustration col-sm-4">
      <div class="row">
      ­ <img src="{{ site.baseurl }}/img/activity_analysis_100px-grey.png" alt="Analysis" class="img-responsive"/>
      ­ <img src="{{ site.baseurl }}/img/activity_information_technology_100px-grey.png" alt="Information Technology" class="img-responsive"/>
      </div>
      <div class="row">
      ­ <img src="{{ site.baseurl }}/img/activity_innovation_100px-grey.png" alt="Innovation" class="img-responsive"/>
      ­ <img src="{{ site.baseurl }}/img/activity_leadership_100px-grey.png" alt="Leadership" class="img-responsive"/>
      </div>
    </div><!-- /.challenge-illustration -->
  </div><!-- /row -->
</div><!-- /.challenges -->
