<footer id="footer">
  <!-- Additional Links -->
  <section id="additional-links">
    <h2 id="additional-links-title" class="accessibility">Additional links</h2>
    <ul id="additional-links-list" aria-labelledby="additional-links">
      <li>
        <a href="https://reliefweb.int"  aria-describedby="hint-main-site">Main Site</a>
        <p id="hint-main-site" class="accessibility">View the ReliefWeb main site.</p>
      </li>
      <li>
        <a href="https://reliefweb.int/blog" aria-describedby="hint-blog">Blog</a>
        <p id="hint-blog" class="accessibility">ReliefWeb blog</p>
      </li>
      <li>
        <a href="https://reliefweb.int/about" aria-describedby="hint-about">About<span class="accessibility"> ReliefWeb</span></a>
        <p id="hint-about" class="accessibility">Learn more about ReliefWeb, leading online source for reliable and timely humanitarian information on global crises and disasters since 1996.</p>
      </li>
      <li>
        <a href="https://reliefweb.int/terms-conditions#privacy" aria-describedby="hint-privacy">Privacy</a>
        <p id="hint-privacy" class="accessibility">ReliefWeb&apos;s privacy notice.</p>
      </li>
      <li>
        <a href="https://reliefweb.int/terms-conditions" aria-describedby="hint-terms-conditions">Terms</a>
        <p id="hint-terms-conditions" class="accessibility">ReliefWeb&apos;s terms &amp; Conditions.</p>
      </li>
    </ul>
  </section>

  <!-- Other OCHA services -->
  <section id="ocha-services">
    <h2 id="ocha-services-title" class="accessibility">OCHA Services</h2>
    <ul id="ocha-services-list" aria-labelledby="ocha-services-title">
      <li>
        <div id="ocha-services-related-platforms">Related Platforms</div>
        <ul aria-labelledby="ocha-services-related-platforms">
          <li><a href="https://www.agendaforhumanity.org" target="_blank" rel="noopener">Agenda for Humanity</a></li>
          <li><a href="https://cerf.un.org" target="_blank" rel="noopener">Central Emergency Response Fund</a></li>
          <li><a href="https://redhum.org" target="_blank" rel="noopener">Redhum</a></li>
        </ul>
      </li>
      <li>
        <div id="ocha-services-others">Other OCHA Services</div>
        <ul aria-labelledby="ocha-services-others">
          <li><a href="https://fts.unocha.org" target="_blank" rel="noopener">Financial Tracking Service</a></li>
          <li><a href="https://data.humdata.org" target="_blank" rel="noopener">Humanitarian Data Exchange</a></li>
          <li><a href="https://humanitarian.id" target="_blank" rel="noopener">Humanitarian ID</a></li>
          <li><a href="https://humanitarianresponse.info" target="_blank" rel="noopener">Humanitarian Response</a></li>
        </ul>
      </li>
      <li>
        <div id="ocha-services-others-continuation" class="accessibility">Other OCHA Services - Continuation</div>
        <ul aria-labelledby="ocha-services-others-continuation">
          <li><a href="https://interagencystandingcommittee.org " target="_blank" rel="noopener">Inter-Agency Standing Committee</a></li>
          <li><a href="https://unocha.org" target="_blank" rel="noopener">OCHA website</a></li>
          <li><a href="https://vosocc.unocha.org" target="_blank" rel="noopener">Virtual OSOCC</a></li>
        </ul>
      </li>
      <li>
        <a href="https://www.unocha.org/ocha-digital-services" target="_blank" rel="noopener">See All<span class="accessibility"> OCHA services</span></a>
      </li>
    </ul>
  </section>

  <!-- OCHA Disclaimer -->
  <div id="ocha-disclaimer">
    <p>Service provided by <span id="ocha-logo"><span class="accessibility">UN OCHA</span></span></p>
    <p>OCHA coordinates the global emergency response to save lives and protect people in humanitarian crises. We advocate for effective and principled humanitarian action by all, for all.</p>
  </div>

  <div id="copyright">
    <p><a href="https://reliefweb.int/terms-conditions"><span class="accessibility">ReliefWeb&apos;s Terms &amp; Conditions.</span></a></p>
    <p>&copy; {{ site.time | date: "%Y" }} all rights reserved.</p>
  </div>
</footer>
<script src="/js/site.js"></script>
{% include analytics.html %}
