<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" property="og:description" content="Building the next generation of information tools for humanitarians. Stay informed about key humanitarian developments across the world.">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>{{ page.title }}</title>
  <script>document.documentElement.className = document.addEventListener ? "js" : "no-js";</script>
  <!-- RW Labs Style -->
  <link href="/css/rwlabsstyle.css" rel="stylesheet">
  <link href="/css/header-footer.css" rel="stylesheet">
  <link rel="icon" type="image/ico" href="/img/labs_favicon.ico">
</head>
