<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
    <div class="navbar-header col-md-12">
      <ul class="nav navbar-nav nav-tabs col-xs-12 col-sm-8 col-md-5 navbar-left" id="rw-nav-global-sites">
        <li class="rw-nav-first-left"><a href="http://reliefweb.int" id="rw-nav-rwhome"></a></li>
        <li class="active"><a href="{{ site.baseurl }}/index.html" id="rw-nav-rwlabs">Labs</a></li>
        <li><a href="http://reliefweb.int/blog" id="rw-nav-rwblog">Blog</a></li>
      </ul>
      <ul class="nav nav-pills col-xs-12 col-sm-4 col-md-5 navbar-right" id="rw-nav-global-utilities">
        <li><a href="http://reliefweb.int/about">About Us</a></li>
        <li><a href="mailto:labs@reliefweb.int">Get in touch</a></li>
        <li>
          <ul class="social-icons">
            <li class="social-icon"><a href="http://twitter.com/reliefweb"><img src="../img/icon-twitter.png" alt="Twitter" /></a></li>
            <li class="social-icon"><a href="http://www.facebook.com/reliefweb"><img src="../img/icon-facebook.png" alt="Facebook" /></a></li>
            <li class="social-icon"><a href="http://www.youtube.com/channel/UC4RQutFVU_1OSNtOzGyBfGw"><img src="../img/icon-youtube.png" alt="YouTube" /></a></li>
            <li class="social-icon"><a href="https://plus.google.com/u/0/101350840970995581001"><img src="../img/icon-google.png" alt="Google plus" /></a></li>
            <li class="social-icon"><a href="/rss"><img src="../img/icon-rss.png" alt="RSS" /></a></li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
  </div>
</nav>
