<nav id="top" class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="navbar-header col-md-12">
        <ul class="nav navbar-nav nav-tabs col-xs-12 col-sm-8 col-md-5 navbar-left" id="rw-nav-global-sites">
          <li class="rw-nav-first-left"><a href="https://reliefweb.int" id="rw-nav-rwhome"><span class="element-invisible">ReliefWeb</span></a></li>
          <li class="active"><a href="/index.html" id="rw-nav-rwlabs">Labs</a></li>
          <li><a href="https://reliefweb.int/blog" id="rw-nav-rwblog">Blog</a></li>
        </ul>
        <ul class="nav nav-pills navbar-right" id="rw-nav-global-utilities">
          <li><a href="https://reliefweb.int/about">About Us</a></li>
          <li><a href="mailto:labs@reliefweb.int">Get in touch</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
