<div class="row">
  <div class="playlist-title">
    <a href="http://youtube.com/playlist?list=PLA82EFAD988C16D1D" class="logo-youtube pull-left text-hide">
    Innovative Humanitarian Projects Playlist
    </a>
    <h4>Innovative Project Videos</h4>
  </div>
</div>
<div class="row playlist-row">
  <div class="col-xs-6">
    <div class="embed-responsive embed-responsive-16by9">
        <div id="youtube-video1"></div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="embed-responsive embed-responsive-16by9">
        <div id="youtube-video2"></div>
    </div>
  </div>
</div>
<div class="row playlist-row">
  <div class="col-xs-6">
    <div class="embed-responsive embed-responsive-16by9">
        <div id="youtube-video3"></div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe id="youtube-playlist" class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed?listType=playlist&list=PLA82EFAD988C16D1D&modestbranding=1&enablejsapi=1&showinfo=1&origin={{ site.baseurl }}" allowfullscreen></iframe>
    </div>
  </div>
</div>
<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('youtube-playlist', {
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    // This is necessary to get full playlist. Still looking for another way.
    event.target.setShuffle(true);
    event.target.playVideoAt(0);
    player.pauseVideo();
  }

  var firstLoad = true;
  function onPlayerStateChange(event) {
    if (firstLoad) {
      firstLoad = false;
      loadVideos(event.target.getPlaylist());
    }
  }

  function loadVideos(playlistItems) {
    for (var i=1; i < 4; i++) {
      player = new YT.Player('youtube-video' + i, {
        playerVars: {
          modestbranding: '1',
        },
        videoId: playlistItems[i - 1],
      });
    }
  }
</script>
