<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="rwlabs">
    {% include nav.html %}
    {% include header.html %}
    <div class="project-layout container">
      <div class="content">
        <h1>{{ page.title }}</h1>
        {% if page.image %}
          {% if page.link %}
          <div class="rw-img-cell"><a href="{{ page.link }}"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" class="img-rounded img-responsive"></a></div>
          {% else %}
          <div class="rw-img-cell"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" class="img-rounded img-responsive"></div>
          {% endif %}
        {% endif %}
        {{ content }}
      </div>
    </div><!-- /.container -->
    <div class="container-fluid">
      <div class="row">
        <div class="rw-divider-flip"></div>
        <div class="rw-divider"></div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
